@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme inline {
  --font-eurostile: var(--font-eurostile);
  --font-helvetica: var(--font-helvetica);
}
body,
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.flex-col-center {
  @apply flex flex-col items-center justify-center;
}

.layout-spacing {
  @apply w-full md:px-12 lg:px-16 xl:px-20;
}

@layer base {
  main {
    @apply relative -mt-20 flex min-h-screen w-full flex-col items-center justify-center gap-10 px-4 pt-32 pb-10 md:gap-12 md:px-12 md:pb-12 lg:gap-16 lg:px-16 lg:pb-16 xl:gap-20 xl:px-20 xl:pb-20;
  }
  h1 {
    @apply font-eurostile text-4xl md:text-7xl xl:text-8xl;
  }
  h4,
  h5,
  h6 {
    @apply font-helvetica text-sm md:text-base xl:text-lg;
  }
  section {
    @apply max-w-screen-xl;
  }
  p {
    @apply font-helvetica text-sm md:text-base xl:text-lg;
  }
}

.title-2 {
  @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
}

.title-3 {
  @apply text-lg md:text-xl lg:text-2xl xl:text-3xl;
}
